
body {
    padding-top: 30px;
    padding-bottom: 20px;
   font-family: "Arial", sans-serif;
}

#about h2, #product h2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-top: 0;
  font-size: 40px;
  font-family: "Impact", sans-serif;
}

.purchasebox h3 {
  padding-bottom: 20px;
}

.navbar li {
      margin-right: 10px;
}

.navbar li a {
   padding-left: 0;
}



.navbar-collapse {
 background-color: #6c30df;
}

.navbar-inverse .navbar-nav {
  font-family: Georgia;
}

.navbar-inverse .navbar-brand {
  color: black;
  font-size: 35px;
  font-family: Georgia;
  
}

.navbar-inverse .navbar-nav>li>a {
  color: black;
  text-shadow: none;
}




footer .navbar-default {
  background: transparent;
  border: 0;
}

.img-responsive {
  margin: auto;
}

.purchase {
  text-align: center;
  margin-top: 50px;
  padding: 20px;  
}

.purchasebox {
    border: 3px black dotted;
      width: 400px;
    margin: auto;
    height: 190px;
  max-width: 100%;
  padding-top: 20px; 
  padding-bottom: 20px;
  background-color: yellow;
}

#space {
  background-image: url("newcityphoto.jpg");
      height: 500px;
    max-width: 100;
    background-attachment: fixed;
}

#space2 {
  background-image: url("spacephoto2.jpg");
      height: 500px;
    max-width: 100;
    background-attachment: fixed;
}

.firstsection {
  background: linear-gradient(rgba(141,153,174,0.8), rgba(141,153,174,0.5));
}